<div class="popup__header">
    <h3 class="popup__title">{{data.title | translate}}</h3>
</div>
<form [formGroup]="cityForm" class="popup__content" (submit)="addCity()">
    <div class="input-row">
        <mat-form-field class="input-half">
            <mat-label>{{'settings.city' | translate}}</mat-label>
            <input matInput formControlName="city" />
        </mat-form-field>
        <mat-form-field class="input-half">
            <mat-label>{{'settings.zip_code' | translate}}</mat-label>
            <input matInput formControlName="zip_code" />
        </mat-form-field>
    </div>
    <div class="popup__btn-container">
        <app-button variant="cancelable" mat-dialog-close>{{ 'action.cancel' | translate }}</app-button>
        <app-button variant="raised" type="submit">
            {{ 'action.save' | translate }}
        </app-button>
    </div>
</form>