$primary-palette: (
  50: #dee8f8,
  100: #bcd1f0,
  200: #9bbae9,
  300: #79a3e2,
  400: #588cda,
  500: #2d6dce,
  600: #2862b8,
  700: #1d4786,
  800: #163564,
  900: #0f2443,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$accent-palette: (
  50: #f1f1f9,
  100: #d5d5ec,
  200: #bab9df,
  300: #9e9dd2,
  400: #8281c5,
  500: #6867b9,
  600: #5957b2,
  700: #4f4da8,
  800: #3b3a7e,
  900: #272754,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);
