::ng-deep .mat-dialog-container {
  background: rgb(45, 111, 209);
  background: linear-gradient(
    -180deg,
    rgb(104, 103, 185) 0%,
    rgb(91, 134, 228) 100%,
    rgba(193, 193, 200, 1) 60%
  );
  border-radius: 5%;
}

.popup-container {
  align-items: center;

  &-title {
    color: azure;
    h1 {
      font-size: 3rem;
      display: flex;
      justify-content: center;
    }
  }

  &-cards {
    display: flex;

    &-item {
      width: 50%;
      justify-content: center;
      margin: 20px;
      & mat-card {
        border-radius: 5%;
        box-shadow: 0 0 5px #111;
        display: flex;
        cursor: pointer;

        & mat-card-title {
          writing-mode: vertical-rl;
          text-orientation: upright;
          background-color: rgb(104, 103, 185);
          margin: 20px;
          padding: 30px;
          align-self: center;
          color: azure;
          font-size: 1rem;
        }
      }
    }
    &-item:hover {
      transform: translateY(-5px) scale(1.005) translateZ(0);
    }
  }
}
