<div class="btn">
    <app-button vairan="raised" type="button" (clickEvent)="addSpeciesPopup()">{{'settings.addSpecies' |
        translate}}</app-button>
</div>


<table mat-table [dataSource]="speciesTable">
    <ng-container matColumnDef="species">
        <th mat-header-cell *matHeaderCellDef>{{ "settings.species" | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.species }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Akcja</th>
        <td mat-cell *matCellDef="let speciesRowModel" class="settings__menu-box">
            <button mat-icon-button [matMenuTriggerFor]="tableMenuAction" (click)="$event.stopPropagation()">
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #tableMenuAction="matMenu" xPosition="before">
                <button mat-menu-item (click)="editPosition(speciesRowModel.ID)">
                    <mat-icon> edit</mat-icon>
                    {{ "action.edit" | translate }}
                </button>

                <app-button-item-delete (onDelete)="deletePosition(speciesRowModel.ID)">
                    <mat-icon>delete</mat-icon>
                    {{ "action.delete" | translate }}
                </app-button-item-delete>
            </mat-menu>
        </td>
    </ng-container>
    <ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    </ng-container>
    <tr mat-row *matRowDef="let speciesRowModel; columns: displayedColumns"></tr>
</table>