<div class="dataPerson">
    <h2>{{'people.dataPersonTakeAway' | translate}}</h2>
    <app-button-filter [filters]="filtersPeople" [disabled]="true" [initialValue]="0" (change)="onChangeSelect($event)">
    </app-button-filter>

    <div class="input-row">
        <mat-form-field class="input-five">
            <mat-label> {{'people.personName' | translate}} </mat-label>
            <input matInput placeholder="{{'people.personName' | translate}}">
        </mat-form-field>
        <mat-form-field class="input-five">
            <mat-label>{{'people.IDnumber' | translate}}</mat-label>
            <input matInput placeholder="{{'people.IDnumber' | translate}}">
        </mat-form-field>
        <mat-form-field class="input-five">
            <mat-label>{{'people.pesel' | translate}}</mat-label>
            <input matInput placeholder="{{'people.pesel' | translate}}">
        </mat-form-field>

        <mat-form-field class="input-five">
            <mat-label>{{'people.email' | translate}}</mat-label>
            <input type="email" matInput placeholder="{{'people.email' | translate}}">
        </mat-form-field>

        <mat-form-field class="input-five">
            <mat-label>{{'people.tel' | translate}}</mat-label>
            <span matPrefix>+48 &nbsp;</span>
            <input type="tel" matInput placeholder="{{'people.tel' | translate}}">
        </mat-form-field>

    </div>

    <div class="input-row">
        <mat-form-field class="input-quarter">
            <mat-label>{{'people.adress' | translate}}</mat-label>
            <input matInput placeholder="{{'people.adress' | translate}}">
        </mat-form-field>

        <div class="inline input-quarter">
            <app-autocomplete (change)="chooseAutocomplete($event)" [values]="arrayOfSpecies" placeholder="people.city">
            </app-autocomplete>
        </div>
        <mat-form-field class="input-quarter">
            <mat-label>{{'people.zip-code' | translate}}</mat-label>
            <input matInput placeholder="{{'people.zip-code' | translate}}">
        </mat-form-field>

        <div class="inline input-quarter">
            <app-autocomplete (change)="chooseAutocomplete($event)" [values]="arrayOfSpecies"
                placeholder="people.province">
            </app-autocomplete>
        </div>
    </div>
    <div class="input-row">
        <mat-form-field class="input-full">
            <mat-label>{{'pets.commentsRegister' | translate}}</mat-label>
            <textarea matInput rows="1" placeholder="{{'pets.comments' | translate}}">
                </textarea>
        </mat-form-field>
    </div>
</div>