<div class="dataPerson" formGroupName="dataPersonTakeAway">
    <h2>{{'people.dataPersonTakeAway' | translate}}</h2>
    <app-button-filter [filters]="filtersPeople" [disabled]="true" [initialValue]="0" (change)="onChangeSelect($event)">
    </app-button-filter>

    <div class="input-row">
        <mat-form-field class="input-five">
            <mat-label> {{'people.personName' | translate}} </mat-label>
            <input formControlName="personName" matInput placeholder="{{'people.personName' | translate}}">
        </mat-form-field>
        <mat-form-field class="input-five">
            <mat-label>{{'people.IDnumber' | translate}}</mat-label>
            <input formControlName="IDnumber" matInput placeholder="{{'people.IDnumber' | translate}}">
        </mat-form-field>
        <mat-form-field class="input-five">
            <mat-label>{{'people.pesel' | translate}}</mat-label>
            <input formControlName="pesel" matInput placeholder="{{'people.pesel' | translate}}">
        </mat-form-field>

        <mat-form-field class="input-five">
            <mat-label>{{'people.email' | translate}}</mat-label>
            <input formControlName="email" type="email" matInput placeholder="{{'people.email' | translate}}">
        </mat-form-field>

        <mat-form-field class="input-five">
            <mat-label>{{'people.tel' | translate}}</mat-label>
            <span matPrefix>+48 &nbsp;</span>
            <input formControlName="tel" type="tel" matInput placeholder="{{'people.tel' | translate}}">
        </mat-form-field>

    </div>

    <div class="input-row">
        <mat-form-field class="input-quarter">
            <mat-label>{{'people.adress' | translate}}</mat-label>
            <input formControlName="adress" matInput placeholder="{{'people.adress' | translate}}">
        </mat-form-field>

        <div class="inline input-quarter">
            <app-city-autocomplete formControlName="city"></app-city-autocomplete>
        </div>
        <mat-form-field class="input-quarter">
            <mat-label>{{'people.zip-code' | translate}}</mat-label>
            <input formControlName="zipCode" matInput placeholder="{{'people.zip-code' | translate}}">
        </mat-form-field>

        <div class="inline input-quarter">
            <app-province-autocomplete formControlName="province"></app-province-autocomplete>
        </div>
    </div>
    <div class="input-row">
        <mat-form-field class="input-full">
            <mat-label>{{'pets.commentsRegister' | translate}}</mat-label>
            <textarea formControlName="comments" matInput rows="1" placeholder="{{'pets.comments' | translate}}">
                </textarea>
        </mat-form-field>
    </div>
</div>