<div class="settings">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="{{ 'settings.employees' | translate}}">
            <app-settings-employees></app-settings-employees>
        </mat-tab>

        <mat-tab label="{{ 'settings.species' | translate}}">
            <app-settings-species></app-settings-species>
        </mat-tab>

        <mat-tab label="{{ 'settings.breed' | translate}}">

        </mat-tab>

        <mat-tab label="{{ 'settings.color' | translate}}">

        </mat-tab>

        <mat-tab label="{{ 'settings.city' | translate}}">

        </mat-tab>
        <mat-tab label="{{ 'settings.commune' | translate}}">

        </mat-tab>
        <mat-tab label="{{ 'settings.area' | translate}}">

        </mat-tab>
        <mat-tab label="{{ 'settings.acceptanceType' | translate}}">

        </mat-tab>
        <mat-tab label="{{ 'settings.adoptionType' | translate}}">

        </mat-tab>


    </mat-tab-group>

</div>