<div class="settings">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="{{ 'settings.employees' | translate}}">
            <app-settings-employees></app-settings-employees>
        </mat-tab>

        <mat-tab label="{{ 'settings.species' | translate}}">
            <app-settings-species></app-settings-species>
        </mat-tab>

        <mat-tab label="{{ 'settings.breed' | translate}}">
            <app-settings-breed></app-settings-breed>
        </mat-tab>

        <mat-tab label="{{ 'settings.color' | translate}}">
            <app-settings-color></app-settings-color>
        </mat-tab>
        <mat-tab label="{{ 'settings.city' | translate}}">
            <app-settings-city></app-settings-city>
        </mat-tab>
        <mat-tab label="{{ 'settings.commune' | translate}}">
            <app-settings-commune></app-settings-commune>
        </mat-tab>
        <mat-tab label="{{ 'settings.area' | translate}}">
            <app-settings-area></app-settings-area>
        </mat-tab>
        <mat-tab label="{{ 'settings.acceptanceType' | translate}}">
            <app-settings-acceptance-type></app-settings-acceptance-type>
        </mat-tab>
        <mat-tab label="{{ 'settings.adoptionType' | translate}}">
            <app-settings-adoption-type></app-settings-adoption-type>
        </mat-tab>


    </mat-tab-group>

</div>