:host {
  display: block;
  .login-container {
    height: 100vh;
    width: 100vw;
    align-items: center;
    display: flex;
    background: linear-gradient(-65deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 200% 200%;
    &__content {
      width: 500px;
      display: block;
      margin: 0 auto;
      & mat-toolbar {
        justify-content: center;
        background-color: #23d5ab;
        border-top-left-radius: 40%;
        border-top-right-radius: 40%;
        color: rgb(255, 255, 255);
        font-size: 2rem;
      }
      & form {
        width: 100%;
        & mat-form-field {
          width: 100%;
          display: block;
        }
      }
      &-button-form {
        width: 100%;
        margin-top: 10px;
        background-color: #23d5ab;
        color: rgb(255, 255, 255);
        font-size: 1rem;
        margin-bottom: 10px;
      }
    }
  }
}
