:host {
  display: block;
  .login-container {
    height: 100vh;
    width: 100vw;
    align-items: center;
    display: flex;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 200% 200%;
  }
  .login-content {
    width: 400px;
    display: block;
    margin: 0 auto;
  }
  .login-toolbar {
    justify-content: center;
  }
}

form {
  width: 100%;
}

.mat-form-field {
  width: 100%;
  display: block;
}

.mat-raised-button {
  width: 100%;
  margin-top: 15px;
}


