:host {
  display: block;
  .dataPet {
    &__data-vaccination {
      display: inline-block;
      width: 89%;
    }
    &__checkbox-vaccination {
      display: inline-block;
      padding: 0px 9px;
      width: 11%;
    }
  }
}
