<div class="dataPet" formGroupName="registerAnimal">
  <h2>{{ "pets.dataRegisterAnimal" | translate }}</h2>

  <div class="inline input-75">
    <div class="input-row">
      <mat-form-field class="input-third">
        <mat-label>{{ "pets.name" | translate }}</mat-label>
        <input
          matInput
          formControlName="name"
          data-cy="pet-name-field"
          placeholder="{{ 'pets.name' | translate }}"
          required
        />
        <mat-error>{{ "validators.required" | translate }}</mat-error>
      </mat-form-field>

      <span class="inline input-third">
        <app-species-autocomplete
          formControlName="species"
          data-cy="species-field"
        ></app-species-autocomplete>
      </span>

      <span class="inline input-third">
        <app-breed-autocomplete
          [speciesId]="speciesId | async"
          formControlName="breed"
          data-cy="breed-field"
        ></app-breed-autocomplete>
      </span>
    </div>

    <div class="input-row">
      <mat-form-field class="input-third">
        <mat-label>{{ "pets.ID" | translate }}</mat-label>
        <input
          formControlName="id_number"
          data-cy="id-number-field"
          matInput
          placeholder="{{ 'pets.IDgen' | translate }}"
        />
      </mat-form-field>
      <div class="input-third">
        <app-community-autocomplete
          formControlName="commune"
          data-cy="commune-field"
        ></app-community-autocomplete>
      </div>
      <div class="input-third">
        <app-area-autocomplete
          formControlName="area"
          data-cy="area-field"
        ></app-area-autocomplete>
      </div>
    </div>
    <div class="input-row">
      <div class="input-third">
        <app-color-autocomplete
          formControlName="color"
          data-cy="color-field"
        ></app-color-autocomplete>
      </div>
      <div class="input-third">
        <app-select
          formControlName="size"
          [values]="sizeList"
          placeholder="pets.size"
          data-cy="size-field"
        >
        </app-select>
      </div>
      <div class="input-third">
        <app-select
          formControlName="gender"
          [values]="genderList"
          placeholder="pets.gender"
          data-cy="gender-field"
        >
        </app-select>
      </div>
    </div>

    <div class="input-row">
      <mat-form-field class="input-third">
        <mat-label>{{ "pets.nr-chip" | translate }}</mat-label>
        <input
          formControlName="nr_chip"
          matInput
          placeholder="{{ 'pets.nr-chip' | translate }}"
          data-cy="nr-chip-field"
        />
        <mat-error>{{ "validators.required" | translate }}</mat-error>
      </mat-form-field>

      <div class="input-third">
        <app-data-picker
          formControlName="date_of_birth"
          placeholder="pets.datePickerBirth"
          data-cy="date-of-birth-field"
        ></app-data-picker>
      </div>

      <div class="input-third">
        <mat-checkbox
          (change)="Vaccination($event)"
          class="dataPet__checkbox-vaccination"
          formControlName="vaccination"
          data-cy="vaccination-field"
        ></mat-checkbox>
        <app-data-picker
          class="dataPet__data-vaccination"
          formControlName="date_vaccination"
          placeholder="pets.dateVaccination"
          data-cy="date-vaccination-field"
        ></app-data-picker>
      </div>
    </div>
  </div>

  <div class="inline input-25">
    <app-pet-avatar formControlName="avatar"></app-pet-avatar>
  </div>

  <div class="input-row">
    <mat-form-field class="input-full">
      <mat-label>{{ "pets.description" | translate }}</mat-label>
      <textarea
        formControlName="description_animal"
        rows="1"
        matInput
        data-cy="description-animal-field"
      ></textarea>
    </mat-form-field>
  </div>
</div>
