<div class="popup__header">
    <h3 class="popup__title">{{ data.title| translate}}</h3>
</div>
<form [formGroup]="breedForm" class="popup__content" (submit)="addBreed()">
    <div class="input-row">
        <span class="input-half">
            <app-species-autocomplete formControlName="species"></app-species-autocomplete>
        </span>
        <mat-form-field class="input-half">
            <mat-label>{{'settings.breed' | translate}}</mat-label>
            <input matInput formControlName="breed" />
        </mat-form-field>
    </div>
    <div class="popup__btn-container">
        <app-button variant="cancelable" mat-dialog-close>{{ 'action.cancel' | translate }}</app-button>
        <app-button variant="raised" type="submit">
            {{ 'action.save' | translate }}
        </app-button>
    </div>
</form>