<div class="data-pet-out" formGroupName="dataPetOut">
  <h2>{{ "pets.out.data" | translate }}</h2>
  <div class="input-row">
    <mat-form-field class="input-quarter">
      <mat-label>{{ "pets.name" | translate }}</mat-label>
      <input matInput formControlName="name" placeholder="{{ 'pets.name' | translate }}" />
    </mat-form-field>
    <div class="input-quarter">
      <app-species-autocomplete formControlName="species"></app-species-autocomplete>
    </div>

    <div class="input-quarter">
      <app-type-adoption-autocomplete formControlName="typeAdoption" placeholder="pets.out.type">
      </app-type-adoption-autocomplete>
    </div>
    <div class="input-quarter">
      <app-data-picker formControlName="date_of_adoption" placeholder="pets.out.date"></app-data-picker>
    </div>
  </div>

  <div class="input-row">
    <div class="input-quarter">
      <app-employees-autocomplete formControlName="introduced_employees_id"
        placeholder="pets.introduced"></app-employees-autocomplete>
    </div>
    <div class="input-quarter">
      <app-employees-autocomplete formControlName="accepted_employees_id"
        placeholder="pets.accepted"></app-employees-autocomplete>
    </div>

    <mat-form-field class="input-half">
      <mat-label>{{ "pets.out.comments" | translate }}</mat-label>
      <textarea formControlName="description" matInput rows="1" placeholder="{{ 'pets.out.comments' | translate }}">
      </textarea>
    </mat-form-field>
  </div>
</div>