:host {
  display: block;

  .btn {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
  }
  .search {
    margin: auto;
    width: 60%;
  }

  & table {
    margin: auto;
    margin-bottom: 20px;
    width: 60%;
    tr {
      height: 36px;
    }
    th {
      background-color: #625ea5;
      color: #ffffff;
      font-size: 1rem;
    }
    th:last-child {
      text-align: center;
    }
    td {
      color: #6867b9;
      font-size: 0.5rem;
      text-transform: uppercase;
    }
    td {
      font-size: 1rem;
      text-transform: uppercase;
    }
    td:last-child {
      text-align: -webkit-center;
    }
  }
}
