:host {
  display: block;

  .people_container {
    margin: 40px;
    &-header {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & h1 {
        padding-right: 10px;
      }
    }
  }
  .list-attach {
    list-style: none;
  }
}
