:host {
  display: block;
  .document {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin: auto;
  }
  mat-expansion-panel {
    width: 70%;
    margin: auto;
  }

  .list-attach {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
