<div class="dataRegister" formGroupName="register">
  <h2>{{ "pets.dataRegister" | translate }}</h2>

  <div class="input-row">
    <div class="input-third">
      <app-data-picker
        [required]="true"
        formControlName="date_of_registration"
        placeholder="pets.dateRegister"
      ></app-data-picker>
    </div>
    <div class="input-third">
      <app-data-picker
        [required]="true"
        placeholder="pets.dateCuarantineTo"
        formControlName="quarantine"
      ></app-data-picker>
    </div>
    <div class="input-third">
      <mat-checkbox
        (change)="Sterilization($event)"
        class="dataRegister__checkbox-castred"
        formControlName="sterilization"
        data-cy="sterilization-field"
      ></mat-checkbox>
      <app-data-picker
        class="dataRegister__data-castred"
        placeholder="pets.dateCastred"
        formControlName="date_sterilization"
        data-cy="date-sterilization-field"
      ></app-data-picker>
    </div>
  </div>

  <div class="input-row">
    <div class="input-third">
      <app-type-acceptance-autocomplete
        formControlName="type_of_acceptance"
        placeholder="pets.registerType"
        data-cy="type-of-acceptance-field"
      ></app-type-acceptance-autocomplete>
    </div>

    <div class="input-third">
      <app-employees-autocomplete
        formControlName="introduced_employees_id"
        placeholder="pets.introduced"
        data-cy="introduced-employees-field"
      ></app-employees-autocomplete>
    </div>

    <div class="input-third">
      <app-employees-autocomplete
        formControlName="accepted_employees_id"
        placeholder="pets.accepted"
        data-cy="accepted-employees-field"
      ></app-employees-autocomplete>
    </div>
  </div>

  <div class="input-row">
    <mat-form-field class="input-full">
      <mat-label>{{ "pets.commentsRegister" | translate }}</mat-label>
      <textarea
        formControlName="commentsRegister"
        rows="1"
        matInput
        placeholder="{{ 'pets.comments' | translate }}"
        data-cy="comments-register-field"
      >
      </textarea>
    </mat-form-field>
  </div>
</div>
