<div class="dataRegister" formGroupName="register">
    <h2>{{'pets.dataRegister' | translate}}</h2>


    <div class="input-row">
        <div class="input-quarter">
            <app-data-picker formControlName="dateRegister" placeholder="pets.dateRegister"></app-data-picker>
        </div>
        <div class="input-quarter">
            <app-data-picker placeholder="pets.dateCuarantineTo" formControlName="dateCuarantineTo"></app-data-picker>
        </div>
        <div class="input-quarter">
            <app-select [values]="castratedList" placeholder="pets.castred"
                formControlName="castred">
            </app-select>
        </div>
        <div class="input-quarter">
            <app-data-picker placeholder="pets.dateCastred" formControlName="dateCastred"></app-data-picker>
        </div>
    </div>

    <div class="input-row">

        <div class="input-third">
            <app-autocomplete  [values]="castratedList"
                placeholder="pets.registerType" formControlName="registerType">
            </app-autocomplete>
        </div>

        <div class="input-third">
            <app-employees-autocomplete formControlName="introduced"
                placeholder="pets.introduced"></app-employees-autocomplete>
        </div>
        
        <div class="input-third">
            <app-employees-autocomplete formControlName="accepted"
                placeholder="pets.accepted"></app-employees-autocomplete>
        </div>

    </div>

    <div class="input-row">
        <mat-form-field class="input-full">
            <mat-label>{{'pets.commentsRegister' | translate}}</mat-label>
            <textarea formControlName="commentsRegister" rows="1" matInput
                placeholder="{{'pets.comments' | translate}}">
                    </textarea>
        </mat-form-field>
    </div>
</div>