:host {
  display: block;

  /* ::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0.75em 0 0.75em 0;
    }
    .mat-button,
    .mat-icon-button,
    .mat-stroked-button {
      background-color: rgb(123 133 255 / 35%);
    }
  } */
}
