<div style="margin:20px">
    <app-button-filter (change)="add($event)" [filters]="filtersPets"></app-button-filter>
</div>

<div style="margin:20px">
    <app-select (change)="chooseSelect($event)" [values]="arrayOfSpecies" placeholder="pets.species"></app-select>
    <app-select (change)="chooseSelect($event)" [values]="arrayOfSpecies" placeholder="pets.species"></app-select>
    <app-select (change)="chooseSelect($event)" [values]="arrayOfSpecies" placeholder="pets.species"></app-select>
    <app-select (change)="chooseSelect($event)" [values]="arrayOfSpecies" placeholder="pets.species"></app-select>
    <app-select (change)="chooseSelect($event)" [values]="arrayOfSpecies" placeholder="pets.species"></app-select>
    <app-select (change)="chooseSelect($event)" [values]="arrayOfSpecies" placeholder="pets.species"></app-select>
</div>


<div style="margin:20px">
    <app-data-picker placeholder="pets.dataPickerPlaceholder"></app-data-picker>
</div>

<div style="margin:20px">
    <app-search placeholder="pets.searchPlaceholder"></app-search>
</div>

<section class="example-section" [formGroup]="toppings">
    <p>
        <mat-checkbox formControlName="cuarantine">{{"pets.cuarantine" | translate}}</mat-checkbox>
    </p>
    <p>
        <mat-checkbox formControlName="unvaccinated">{{"pets.unvaccinated" |translate}} </mat-checkbox>
    </p>
</section>

<div style="margin:20px">
    <app-button-filter (change)="add($event)" [filters]="filtersAddPets"></app-button-filter>
</div>