:host {
  display: block;
  .pets_container {
    margin: 40px;
    &-search {
      margin: auto;
      margin-top: 40px;
      justify-content: center;
      width: 80%;
    }

    &-header {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-animate {
        display: flex;
      }
      & button {
        padding: 10px;
        background-color: #514edd;
        color: #fff;
      }
      & h1 {
        padding-right: 10px;
      }
    }

    &-tabble {
      margin: auto;
      margin-top: 40px;
      justify-content: center;
      width: 80%;
    }

    //BTN - header
    .toggle-item-2 {
      color: #514edd;
      cursor: pointer;
      font-size: 25px;
    }

    .toggle-item-2:first-child {
      opacity: 0.3;
    }

    .toggle-item-container {
      display: inline-block;
      transition: all 500ms;
      padding-left: 3px;
    }

    .toggle-item-container-animated {
      transform: translateY(27px);
    }

    .toggle-item-container.toggle-item-container-animated
      .toggle-item-2:last-child {
      opacity: 0.3;
    }

    .toggle-item-container.toggle-item-container-animated
      .toggle-item-2:first-child {
      opacity: 1;
    }

    .toggle-btn {
      display: flex;
      cursor: pointer;
      color: #514edd;
      font-weight: bolder;
      font-size: 28px;
      align-items: center;
    }
  }
}
