:host {

    ::ng-deep{
        .mat-button-toggle-checked {
            background-color: #d391c8;
            color: white !important;
        }
        .mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
            border-left: 2px solid #bd48a9;
        }
        .mat-button-toggle-group  {
            border: solid 1px #bd48a9;
        }
    }

    .btn{
        &:first-child {
            border-radius: 2rem;
        }
    
        &__toggle{
            font-size: 1rem;
            color: #bd48a9;
            
        }
        &__toggle:hover{
            background-color: #d391c8;
            color:white;
        }
    }
}

