<div class="people_container">
    <div class="people_container-header">
        <div class="people_container-header-animate">
            <h1>
                {{"people.title" | translate}}
            </h1>

            <div class="toggle-item-container" (click)="togglePeopleView()"
            [ngClass]="(status$ | async) ? ''  : 'toggle-item-container-animated' ">
                <div class="toggle-item-2">{{"people.bringing" | translate}}</div>
                <div class="toggle-item-2">{{"people.takeAway" | translate}}</div>
            </div>
            <div class="toggle-btn" (click)="togglePeopleView()">
                <mat-icon>
                    swap_vert
                </mat-icon>
            </div>
        </div>
        <span class=" input-row">
            <mat-slide-toggle (change)=" toggleChangeBlackList()"> {{"people.blackList" | translate}}</mat-slide-toggle>
        </span>
    </div>

    <div class="people_container-table">
        <span class="input-full">
            <app-search placeholder="people.searchPlaceholder" [formControl]="search"></app-search>
        </span>
        <ng-container *ngIf="{people:people$ |async, isLoading: isLoading$ | async} as vm">
            <app-people-table *ngIf="vm.people?.length && vm.isLoading===false; else loadingView" [people]="people$ | async"
             ></app-people-table>
            <ng-template #loadingView> <app-empty-data  [isLoading]="vm.isLoading"></app-empty-data></ng-template>
          </ng-container>
    </div>


</div>