<div class="popup">
    <form [formGroup]="outPetForm">
        <div class="popup__container-title">
            <h1 mat-dialog-title>{{'pets.handOverTheAnimal' | translate}}</h1>
        </div>

        <mat-dialog-content class="popup__container">
            <app-data-pet-out></app-data-pet-out>
            <app-data-person-take-away></app-data-person-take-away>
            <div class="popup__container-btn">
                <app-button type="button" variant="cancelable" mat-dialog-close>
                    {{ 'action.cancel' | translate }}
                </app-button>
                <app-button type="submit" variant="raised">
                    {{ 'action.accept' | translate }}
                </app-button>
            </div>
        </mat-dialog-content>
    </form>
</div>