<div class="out">
    <form>
        <div class="out__animals-title">
            <h1 mat-dialog-title>{{'pets.handOverTheAnimal' | translate}}</h1>
        </div>

        <mat-dialog-content class="out__animals">
            <h2>{{'pets.out.data' | translate}}</h2>

            <div class="input-row">
                <mat-form-field class="input-quarter">
                    <mat-label>{{'pets.name' | translate}}</mat-label>
                    <input matInput placeholder="{{'pets.name' | translate}}">
                </mat-form-field>
                <div class="input-quarter">
                    <app-autocomplete (change)="chooseAutocomplete($event)" [values]="arrayOfSpecies"
                        placeholder="pets.species">
                    </app-autocomplete>
                </div>

                <div class="input-quarter">
                    <app-autocomplete (change)="chooseAutocomplete($event)" [values]="arrayOfSpecies"
                        placeholder="pets.out.type">

                    </app-autocomplete>
                </div>
                <div class="input-quarter">
                    <app-data-picker placeholder="pets.out.date"></app-data-picker>
                </div>
            </div>

            <div class="input-row">
                <div class="input-quarter">
                    <app-autocomplete (change)="chooseAutocomplete($event)" [values]="arrayOfSpecies"
                        placeholder="pets.introduced">
                    </app-autocomplete>
                </div>
                <div class="input-quarter">
                    <app-autocomplete (change)="chooseAutocomplete($event)" [values]="arrayOfSpecies"
                        placeholder="pets.accepted">
                    </app-autocomplete>
                </div>

                <mat-form-field class="input-half">
                    <mat-label>{{'pets.out.comments' | translate}}</mat-label>
                    <textarea matInput rows="1" placeholder="{{'pets.out.comments' | translate}}">
                </textarea>
                </mat-form-field>
            </div>

            <app-data-person-donor></app-data-person-donor>

            <div class="out__animals-btn">
                <app-button type="button" variant="cancelable" mat-dialog-close>
                    {{ 'action.cancel' | translate }}
                </app-button>
                <app-button type="submit" variant="raised">
                    {{ 'action.accept' | translate }}
                </app-button>
            </div>
        </mat-dialog-content>
    </form>
</div>