<div class="pet-detail">
    <mat-tab-group>
        <mat-tab label="Dane przyjętego zwierzęcia">
            <form [formGroup]="detailPetsForm">
                <div class="pet-detail_content">

                    <app-data-pet-register></app-data-pet-register>

                    <app-data-person-donor></app-data-person-donor>

                    <app-data-register></app-data-register>

                </div>
            </form>
        </mat-tab>

        <mat-tab label="Dane wydanego zwierzęcia">
            <form [formGroup]="detailPetsOutForm">
                <div class="pet-detail_content">

                    <app-data-pet-out></app-data-pet-out>
                    <app-data-person-take-away></app-data-person-take-away>

                </div>
            </form>
        </mat-tab>

        <mat-tab label="Dokumenty">
            <app-file-upload>
                Dodaj załącznik
                <mat-icon>attach_file</mat-icon>
            </app-file-upload>
        </mat-tab>
    </mat-tab-group>
</div>