<div class="pet-detail">
    <div class="inline  input-80 ">
        <button mat-button (click)="backClicked()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <div class="inline">
        <app-button type="submit" variant="raised" (click)="editButtonClick()">
            <mat-icon>edit</mat-icon> {{ 'action.edit' | translate }}
        </app-button>
        <app-button type="submit" variant="raised" (click)="saveEditButtonClick()">
            <mat-icon>star</mat-icon>{{'action.save' | translate}}
        </app-button>
    </div>
    <mat-tab-group mat-align-tabs="center">

        <mat-tab label="Dane przyjętego zwierzęcia">
            <form [formGroup]="detailPetsForm">
                <div class="pet-detail_content">

                    <app-data-pet-register></app-data-pet-register>

                    <app-data-person-donor></app-data-person-donor>

                    <app-data-register></app-data-register>

                </div>
            </form>
        </mat-tab>
        <mat-tab label="Dane wydanego zwierzęcia">
            <form [formGroup]="detailPetsOutForm">
                <div class="pet-detail_content">

                    <app-data-pet-out></app-data-pet-out>
                    <app-data-person-take-away></app-data-person-take-away>

                </div>
            </form>
        </mat-tab>
        <!-- <mat-tab label="Dokumenty">
            <app-file-upload>
                Dodaj załącznik
                <mat-icon>attach_file</mat-icon>
            </app-file-upload>
        </mat-tab> -->
    </mat-tab-group>
</div>