<mat-form-field class="input-full">
    <mat-label>{{ placeholder | translate }}</mat-label>

    <mat-date-range-input [formGroup]="dateGroup" [rangePicker]="picker">
        <input matStartDate formControlName="from" [min]="min" (focus)="picker.open()" />
        <input matEndDate formControlName="to" (dateChange)="changedDate($event)" (focus)="picker.open()" />
    </mat-date-range-input>

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
    <button matSuffix mat-icon-button aria-label="Clear" (click)="clearForm()">
        <mat-icon>close</mat-icon>
    </button>
    <mat-error>{{
        "validators.required" | translate
        }}</mat-error>
</mat-form-field>