<div class="header">
    <nav>
        <mat-toolbar >
            <h1 class="header__logo">
                Schronisko
            </h1>
            <span class="example-spacer"></span>
            <div class="header__link">
                <a [routerLink]="['/app-view/pets']" >
                    <mat-icon>pets</mat-icon>
                    Zwierzęta  
                </a>
                <a [routerLink]="['/app-view/people']">  
                    <mat-icon>group</mat-icon>
                    Ludzie
                </a>
                <a [routerLink]="['/app-view/stats']" >  
                    <mat-icon>trending_up</mat-icon>
                    Statystyki
                </a>  
                <a [routerLink]="['/app-view/settings']"  >  
                    <mat-icon>settings</mat-icon>
                    Ustawienia
                </a>
                <a [routerLink]="['/app-view/documentation']" >  
                    <mat-icon>folder_open</mat-icon>
                    Dokumenty
                </a>     
            </div>

            <div class="header__login">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>account_circle</mat-icon>
                </button>
                <mat-menu #menu="matMenu"  class="header__login-menu">
                    <button mat-menu-item>
                        Przełącz
                        <mat-icon>supervisor_account</mat-icon>
                    </button>

                    <button mat-menu-item  [routerLink]="['/auth-view']" >
                        Wyloguj się
                        <mat-icon>login</mat-icon>
                    </button>
                </mat-menu>
            </div>
        </mat-toolbar>
    </nav>
</div>
