@mixin linkEffect {
  &::before {
    visibility: visible;
    transform: scale(1, 1);
  }
}

:host {
  display: block;
  width: 100%;
  .header {
    background: #2d6dce;
    background: linear-gradient(
      -180deg,
      #6867b9 0%,
      #5b86e4 100%,
      rgba(193, 193, 200, 1) 60%
    );
    &__logo {
      font-size: 1.3rem;
      color: azure;
      margin-left: 40px;
    }
    &__link {
      & li {
        display: inline-block;
        list-style: none;
      }
      & a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        text-decoration: none;
        padding: 0 10px;
        margin: 0 5px;
        color: azure;
        position: relative;

        & mat-icon {
          font-size: 0.9rem;
          width: 0.9rem;
          height: 0.9rem;
          padding-right: 3px;
        }

        &.active {
          color: rgb(255, 255, 255);
          @include linkEffect;
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: azure;
          width: 100%;
          height: 3px;
          transition: all 0.2s ease-in-out;
          transform: scale(0, 0);
          visibility: hidden;
          border-radius: 25px;
        }

        &:hover {
          @include linkEffect;
        }
      }
    }

    &__login {
      button {
        border-width: 0px;
        padding: 10px;
        cursor: pointer;
        background-color: rgba(245, 245, 220, 0);
        & mat-icon {
          width: 2rem;
          height: 2rem;
          font-size: 2rem;
          color: azure;
        }
      }
    }
  }

  .example-spacer {
    flex: 1 1 auto;
  }
}

::ng-deep .header__login-menu {
  & button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .mat-icon {
    padding-left: 5px;
  }
}
