@use "@angular/material" as mat;

@use "/src/styles/config/material-theme" as theme;
@import "@angular/material/theming";
@include mat.core();
@include mat.all-component-themes(theme.$shelter-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
