@use "@angular/material" as mat;

@use "/src/styles/config/material-theme" as theme;
@import "@angular/material/theming";
@include mat.core();
@include mat.all-component-themes(theme.$shelter-theme);

* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.input-row {
  justify-content: center;
  // flex-wrap: wrap;
  align-items: center;
  display: flex;
}
.popup {
  &__container {
    max-height: 100%;
    &-btn {
      text-align: end;

      & app-button {
        margin-right: 10px;
      }
    }
    &-title {
      color: azure;
      background-color: rgb(86, 71, 219);
      & h1 {
        margin: 0;
        padding: 10px;
      }
    }
  }
}
/* style mat-form-field and input */
.error {
  color: red;
}
.mat-form-field {
  // width: 50%;
  padding: 0 5px;
}

.input-full {
  width: 100%;
}

.input-half {
  width: 50%;
}

.input-third {
  width: 33.33%;
}

.input-third-complement {
  width: 66%;
}

.input-quarter {
  width: 25%;
}

.input-five {
  width: 20%;
}
.input-quarter-18-7 {
  width: 18.7%;
}

.input-quarter-half {
  width: 12.5%;
}
.inline {
  display: inline-block;
}
.input-70 {
  width: 70%;
}
.input-75 {
  width: 75%;
}
.input-25 {
  width: 25%;
}
.input-80 {
  width: 80%;
}
.modal-without-padding {
  .mat-dialog-container {
    padding: 0;
  }
  .mat-dialog-title {
    padding: 10px;
  }

  .mat-dialog-content {
    overflow-x: hidden;
    padding: 20px;
    padding-top: 0;
    margin: 0;
  }
}
.shelter-choose-popup {
  width: 50%;
  .mat-dialog-container {
    margin-top: 20px;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 0 10px #a3a2df;
    border-radius: 15px;
    color: #000000;
    padding: 10px;
  }
}
.modal {
  &__width {
    width: 40%;
    overflow-y: auto;
    &--30 {
      width: 30%;
    }
    &--35 {
      width: 35%;
    }
    &--50 {
      width: 50%;
    }
    &--60 {
      width: 60%;
    }
    &--80 {
      width: 80%;
    }
    &--95 {
      width: 95%;
    }
  }
  &__budget-group {
    max-height: 600px;
  }
}
@mixin extendableTableStyle($rootClassName) {
  &__expanded-detail {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  &__expanded-row {
    display: none;

    &:hover {
      background: #fff !important;
    }
  }

  tr.#{$rootClassName}__row.#{$rootClassName}__is-expanded-row {
    &:hover {
      background: #fff;
    }
    td {
      border-bottom-width: 0;
    }
  }
}
