:host {
  display: block;
  .register {
    &__animals {
      // padding: 0px 30px 15px 50px;
      height: 100%;
      &-btn {
        text-align: end;

        & app-button {
          margin-right: 10px;
        }
      }
      &-title {
        color: azure;
        background-color: #514edd;
        & h1 {
          margin: 0;
          padding: 10px;
        }
      }
    }
  }
}
